.box {
    width: 100px;
    height: 100px;
    background-color: bisque;
    margin: 200px auto;
    /* box-shadow: 20px -20px 20px red; */
    box-shadow: 0 0 0 10px red;
}

h1 {
    text-shadow: 3px 2px 0 red;
}


.main {
    width: 800px;
    border: 2px solid green;
    margin: 100px auto;
    display: flex;
    /* justify-content: left, center, space-around space-between; */
    /* align-items: start, end, center; */
    justify-content: space-between;
    flex-wrap: wrap;
}

.main .one {
    background-color: aquamarine;
    /* margin-left: auto; */
}

.main .two {
    background-color: rgb(114, 37, 182);
}

.main .three {
    background-color: rgb(218, 191, 35);
}

.main div {
    width: calc((100% / 3) - 10px);
    height: 100px;
    margin-bottom: 15px;
}



/* 10 + (20 - 30 + 20) - 30 * 10 / 5 */











