@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;300;400;500;600;700;800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Common CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: 100;
}

ul, 
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Barlow", sans-serif;
    font-style: normal;
    font-weight: 600;
}

/* ol {
    list-style: none;
} */

a {
    text-decoration: none;
}

.container {
    width: 1320px;
    margin: 0 auto;
    /* background-color: rgba(255, 192, 203, 0.416); */
}

/* Menu */
.menu {
    padding: 30px 0;
}

.menu .container {
    display: flex;
    align-items: center;
}

.menu .list {
    margin-left: auto;
}

.menu .list ul {
    display: flex;
}

.menu .list ul li a {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 500;
    margin-left: 30px;
    color: #000000;
}

.menu .download-btn {
    margin-left: 45px;
}

.menu .download-btn a {
    font-size: 18px;
    font-weight: 500;
    background-color: #CF0000;
    color: #ffffff;
    padding: 12px 17px;
    border-radius: 5px;
    display: inline-block;
}


