@mixin background($test: 'test.jpg') {
    background-image: url($test);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin test {
    color: red;
}


